<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/result">
      <input type="text" name="planetsid" id="planetsid">
      <button type="submit">Send</button>
    </form>
  </body>
</html>
